.has-ppv-red-color {
    color: #CA0125;
}

.has-ppv-red-background-color {
    background-color: #CA0125;
}

.has-ppv-red-border-color {
    border-color: #CA0125;
}

.has-ppv-black-color {
    color: #120101;
}

.has-ppv-black-background-color {
    background-color: #120101;
}

.has-ppv-black-border-color {
    border-color: #120101;
}

.has-ppv-grey-color {
    color: #8A8A8A;
}

.has-ppv-grey-background-color {
    background-color: #8A8A8A;
}

.has-ppv-grey-border-color {
    border-color: #8A8A8A;
}

.has-ppv-blue-color {
    color: #7B9DAA;
}

.has-ppv-blue-background-color {
    background-color: #7B9DAA;
}

.has-ppv-blue-border-color {
    border-color: #7B9DAA;
}