.ppv-content-toggle {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px;
    transition: 0.25s ease background-color;
    margin-top: -2px;
    @apply py-4;

    summary {
        .ppv-content-toggle-title {
            max-width: 80%;
            line-height: 1.35;
        }

        list-style: none;
        cursor: pointer;
        color: black;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .ppv-content-toggle-icon {
        height: fit-content;
        transition: 0.25s ease transform;
        @apply text-ppv-red
    }

    &[open] {
        background-color: white;

        .ppv-content-toggle-summary {
            color: var(--ppv-red);
        }

        .ppv-content-toggle-icon {
            transform: rotate(-180deg);
        }

        .ppv-content-toggle-content {
            color: black
        }
    }
}